<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>Sprava pizz</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Sprava pizz</h1>

        <div class="admin-actions">
            <a th:href="@{/pizza/nova}" class="btn btn-success">Pridat novu pizzu</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Obrazok</th>
                    <th>Nazov</th>
                    <th>Cena od</th>
                    <th>Tagy</th>
                    <th>Stav</th>
                    <th>Akcie</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizzas}" th:classappend="${!pizza.active} ? 'inactive'">
                    <td th:text="${pizza.id}">1</td>
                    <td>
                        <img th:src="${pizza.imageUrl ?: '/images/pizza-default.jpg'}" 
                             th:alt="${pizza.name}" class="table-thumbnail">
                    </td>
                    <td>
                        <a th:href="@{/pizza/{slug}(slug=${pizza.slug})}" th:text="${pizza.name}">Pizza</a>
                    </td>
                    <td th:text="${#numbers.formatDecimal(pizza.lowestPrice, 1, 2) + ' EUR'}">0.00</td>
                    <td>
                        <span th:each="tag : ${pizza.tags}" 
                              th:text="${tag.name}" 
                              th:style="'background-color:' + ${tag.color}"
                              class="tag-small"></span>
                    </td>
                    <td>
                        <span th:if="${pizza.active}" class="status-active">Aktivna</span>
                        <span th:if="${!pizza.active}" class="status-inactive">Neaktivna</span>
                    </td>
                    <td>
                        <a th:href="@{/pizza/{id}/upravit(id=${pizza.id})}" class="btn btn-small">Upravit</a>
                        <form th:action="@{/admin/pizze/{id}/aktivovat(id=${pizza.id})}" method="post" class="inline">
                            <button type="submit" class="btn btn-small" 
                                    th:text="${pizza.active} ? 'Skryt' : 'Zobrazit'">Prepnut</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/admin}" class="btn btn-secondary">Spat na dashboard</a>
    </div>
</body>
</html>
